@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@theme {
  --slate-100: hsl(202, 86%, 94%);
  --slate-300: hsl(203, 41%, 72%);
  --slate-500: hsl(200, 26%, 54%);
  --slate-700: hsl(200, 24%, 40%);
  --slate-900: hsl(202, 55%, 16%);
  --lime: hsl(61, 70%, 52%);
}

html,
body {
  width: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  color: var(--slate-700);
}

.calculator {
padding: 17px;
}

.inputs {
  margin-top: 20px;
}

h1, .radio{
    color: var(--slate-900);
}

p {
  font-size: 16px;
}

.number-input {
  border: 1.5px solid var(--slate-300);
  border-radius: 3px;
}

input[type="number"] {
  width: 100%;
  
}

.addon {
  background-color: var(--slate-100);
  color: var(--slate-700);
  width: fit-content;
  padding: 0.5rem;
}

.radio {
  border: 1.5px solid var(--slate-300);
  border-radius: 3px;
  padding: 0.5rem 1rem;
}

.calculate-btn {
  background-color: var(--lime);
  color: var(--slate-900);
  padding: 0.5rem 1rem;
  border-radius: 22px;
  margin-top: 1.5rem;
}

.left-addon, .right-addon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}