@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@theme {
  --white: hsl(0, 0%, 100%);
  --slate-100: hsl(202, 86%, 94%);
  --slate-300: hsl(203, 41%, 72%);
  --slate-500: hsl(200, 26%, 54%);
  --slate-700: hsl(200, 24%, 40%);
  --slate-900: hsl(202, 55%, 16%);
  --lime: hsl(61, 70%, 52%);
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  color: var(--slate-700);
  background: var(--slate-100);
}

.calculator {
  padding: 17px;
}

.inputs {
  margin-top: 20px;
}

.entire {
  border-radius: 50px;
}

h1,
.radio {
  color: var(--slate-900);
}

p {
  font-size: 16px;
}

input[type="number"] {
  width: 100%;
}

.radio {
  border: 1px solid var(--slate-700);
  border-radius: 5px;
}

.radio input {
  margin: 12px;
}

.calculate-btn {
  background-color: var(--lime);
  color: var(--slate-900);
  padding: 0.5rem 1rem;
  border-radius: 22px;
  margin-top: 1.5rem;
}

.left-addon,
.right-addon {
  display: flex;
  border: 1px solid var(--slate-700);
  border-radius: 6px;
}

.left-addon .addon {
  background-color: var(--slate-100);
  color: var(--slate-700);
  padding: 0.25rem 0.5rem;
  border-radius: 5px 0 0 5px;
}

.addon {
  background-color: var(--slate-100);
  color: var(--slate-700);
  padding: 0.25rem 0.5rem;
  border-radius: 0 5px 5px 0;
}
